
body{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}



.delete {
    display: grid;
    grid-area: 1 /4 /span 5/ span 1;
    background-color: #2a467e;
}

button {
    height: 50px;
    margin: 2px;
    font-size: 1.2em;
    border-style: none;
    /*background-color: #d6e0f5;*/
}


button:hover {
    color: aliceblue;
    background-color: #2952a3;
    cursor: pointer;
    border: 2px solid white;
}

.calculator {
    position: relative;
    top: 150px;
    margin: 0 auto;
    max-width: 300px;
   
}

.calcButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:0 auto;
    background-color: #fbfdff;
    padding: 10px;
}

.calcButtons > button:nth-child(17) {
 
    grid-column: 1/3;
}

.calcButtons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin:0 auto;
    background-color: #fbfdff;
    padding: 10px;
}

.operator {

    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    background-color: #eff0f3;
    padding: 17px;
}

.number {
    background-color: #8b8788;
}

.userInput {
    position: relative;
    height: 80px;
    max-width: 100%;
    text-align: right;
    padding: 10px;
    font-size: 25px;
    /*border: 1px solid #193366;*/
    background-color: #f0f0f0;
}



.calcButtons > button:nth-child(19) {

    background-color: lightgreen;
}

.userEntry {
    position: absolute;
    bottom: 0;
    padding: 0;
    margin: 20px;
    right:0;
}

.finalCalc{

    position: absolute;
    right:0;
    margin:5px;
    top:0;
    padding:0;
}